.sprite_comm{display:inline-block;background-image:url('../../img/sprite/sprite_mo.png');background-repeat:no-repeat;background-size:395.5px auto;}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:2){.sprite_comm{background-image:url('../../img/sprite/sprite_mo.png');background-repeat:no-repeat;-webkit-background-size:395.5px auto;background-size:395.5px auto;}}
.sp_btn_down{width:69.5px;height:69.5px;background-position:-66px 0px}
.sp_btn_recording{width:69.5px;height:69.5px;background-position:-140.5px 0px}
.sp_btn_write{width:69.5px;height:69.5px;background-position:0px -126px}
.sp_dot_blue{width:42px;height:50px;background-position:-215px -145.5px}
.sp_dot_orange{width:16.5px;height:21px;background-position:-365.5px -50px}
.sp_ico_add{width:30.5px;height:30.5px;background-position:-273.5px -35.5px}
.sp_ico_alarm{width:17.5px;height:20px;background-position:-365.5px -25px}
.sp_ico_alarm_setting{width:20px;height:20px;background-position:-268px -308px}
.sp_ico_answer{width:35px;height:35px;background-position:-172.5px -126px}
.sp_ico_attached_active{width:18px;height:18px;background-position:-365.5px -99.5px}
.sp_ico_attached_disabled{width:18px;height:18px;background-position:-365.5px -122.5px}
.sp_ico_back{width:20px;height:20px;background-position:-293px -308px}
.sp_ico_calendar{width:14px;height:14px;background-position:-59.5px -360px}
.sp_ico_call{width:18px;height:18px;background-position:-365.5px -145.5px}
.sp_ico_call_sm{width:18px;height:18px;background-position:-365.5px -168.5px}
.sp_ico_call_w_lg{width:27.5px;height:27.5px;background-position:-66px -275px}
.sp_ico_call_w_sm{width:22.5px;height:22.5px;background-position:-310.5px -215.5px}
.sp_ico_chat_alarm{width:20px;height:20px;background-position:-340.5px 0px}
.sp_ico_chat_leave{width:20px;height:20px;background-position:-340.5px -25px}
.sp_ico_chat_pin{width:20px;height:20px;background-position:-340.5px -50px}
.sp_ico_chat_w_sm{width:27.5px;height:27.5px;background-position:-98.5px -275px}
.sp_ico_check_on{width:10.5px;height:8.5px;background-position:-220px -360px}
.sp_ico_clear_lg{width:18px;height:18px;background-position:-365.5px -191.5px}
.sp_ico_clip{width:11px;height:11px;background-position:-188px -360px}
.sp_ico_clip_g{width:13.5px;height:14px;background-position:-347px -335px}
.sp_ico_clock_setting{width:20px;height:19.5px;background-position:-200px -335px}
.sp_ico_close{width:20px;height:20px;background-position:-340.5px -75px}
.sp_ico_close_g{width:12px;height:12px;background-position:-154px -360px}
.sp_ico_close_w{width:16px;height:16px;background-position:-286.5px -240.5px}
.sp_ico_comment{width:14px;height:14px;background-position:-78.5px -360px}
.sp_ico_consult_clock{width:18px;height:18.5px;background-position:-365.5px -76px}
.sp_ico_delete{width:16px;height:18px;background-position:-225px -335px}
.sp_ico_delete_attach{width:18px;height:18px;background-position:-365.5px -214.5px}
.sp_ico_down{width:20px;height:20px;background-position:-340.5px -100px}
.sp_ico_down_default{width:11px;height:6px;background-position:-235.5px -360px}
.sp_ico_down_g{width:10.5px;height:6px;background-position:-283.5px -360px}
.sp_ico_down_w{width:11px;height:6px;background-position:-251.5px -360px}
.sp_ico_edit{width:30px;height:30px;background-position:-273.5px -106.5px}
.sp_ico_emoticon{width:20px;height:20px;background-position:-340.5px -125px}
.sp_ico_error{width:19.5px;height:17.5px;background-position:-262px -240.5px}
.sp_ico_file_download{width:46px;height:46px;background-position:-215px -94.5px}
.sp_ico_file_g{width:13.5px;height:14px;background-position:-135.5px -360px}
.sp_ico_folder{width:19px;height:16px;background-position:-190.5px -103px}
.sp_ico_fulldown{width:19.5px;height:19.5px;background-position:-116px -74.5px}
.sp_ico_fulldown_v{width:28px;height:28px;background-position:0px -275px}
.sp_ico_hang_up{width:34px;height:15px;background-position:-74.5px -176px}
.sp_ico_img_file{width:35px;height:35px;background-position:-93px -200.5px}
.sp_ico_incoming_call{width:45px;height:45px;background-position:-140.5px -74.5px}
.sp_ico_info{width:20px;height:20px;background-position:-340.5px -150px}
.sp_ico_info_g{width:20px;height:20px;background-position:-340.5px -175px}
.sp_ico_inp_clear{width:18px;height:18px;background-position:-365.5px -237.5px}
.sp_ico_invite{width:15px;height:15px;background-position:-134.5px -176px}
.sp_ico_kakao{width:15px;height:15px;background-position:-154.5px -176px}
.sp_ico_like{width:14px;height:14px;background-position:-97.5px -360px}
.sp_ico_list_more{width:6px;height:11px;background-position:-262px -145.5px}
.sp_ico_list_more_g{width:6px;height:11px;background-position:-262px -161.5px}
.sp_ico_list_more_w{width:6px;height:11px;background-position:-262px -177.5px}
.sp_ico_lunch{width:16px;height:15px;background-position:-113.5px -176px}
.sp_ico_main_album{width:24px;height:18.5px;background-position:-208px -240.5px}
.sp_ico_main_hw{width:23.5px;height:23.5px;background-position:-310.5px -66px}
.sp_ico_main_noti{width:30px;height:21px;background-position:-173px -240.5px}
.sp_ico_main_question{width:25.5px;height:23px;background-position:-131px -275px}
.sp_ico_main_survey{width:19.5px;height:23.5px;background-position:-190.5px -74.5px}
.sp_ico_make{width:15px;height:15px;background-position:-174.5px -176px}
.sp_ico_menu{width:20px;height:20px;background-position:-340.5px -200px}
.sp_ico_menu_expand{width:8px;height:5.5px;background-position:-310.5px -297.5px}
.sp_ico_missed_call{width:45px;height:45px;background-position:-66px -74.5px}
.sp_ico_more{width:20px;height:20px;background-position:-340.5px -225px}
.sp_ico_more_large{width:8.5px;height:14px;background-position:-296.5px -275px}
.sp_ico_more_sm{width:2px;height:11px;background-position:-389.5px -51px}
.sp_ico_more_w{width:3px;height:16px;background-position:-389.5px -16px}
.sp_ico_my_class{width:20px;height:20.5px;background-position:-243px -308px}
.sp_ico_my_faq{width:15px;height:15px;background-position:-194.5px -176px}
.sp_ico_my_inquire{width:15px;height:15px;background-position:-267px -335px}
.sp_ico_my_news{width:20px;height:20px;background-position:-340.5px -250px}
.sp_ico_my_notice{width:15px;height:15px;background-position:-287px -335px}
.sp_ico_my_school{width:20px;height:20px;background-position:-340.5px -275px}
.sp_ico_my_scrap{width:20px;height:20px;background-position:-340.5px -300px}
.sp_ico_naver{width:15.5px;height:15.5px;background-position:-253px -200.5px}
.sp_ico_new{width:12px;height:12px;background-position:-171px -360px}
.sp_ico_news{width:16px;height:16px;background-position:-246px -335px}
.sp_ico_no_call{width:18px;height:18px;background-position:-365.5px -260.5px}
.sp_ico_no_picture{width:31.5px;height:27px;background-position:-103.5px -240.5px}
.sp_ico_no_picture_lg{width:41px;height:35px;background-position:-47px -200.5px}
.sp_ico_no_video{width:32px;height:30.5px;background-position:-273.5px 0px}
.sp_ico_noti_more{width:5.5px;height:9px;background-position:-389.5px -37px}
.sp_ico_outgoing_call{width:45px;height:45px;background-position:-74.5px -126px}
.sp_ico_pause_off{width:29.5px;height:29.5px;background-position:-273.5px -176.5px}
.sp_ico_pause_on{width:29.5px;height:29.5px;background-position:0px -240.5px}
.sp_ico_pdf{width:35px;height:35px;background-position:-133px -200.5px}
.sp_ico_picture{width:11px;height:11px;background-position:-204px -360px}
.sp_ico_pin{width:14px;height:14px;background-position:-116.5px -360px}
.sp_ico_play_off{width:29.5px;height:29.5px;background-position:-34.5px -240.5px}
.sp_ico_play_on{width:29.5px;height:29.5px;background-position:-69px -240.5px}
.sp_ico_plus{width:20px;height:20px;background-position:0px -335px}
.sp_ico_plus_round{width:15px;height:15px;background-position:-307px -335px}
.sp_ico_profile_edit{width:30px;height:30px;background-position:-273.5px -141.5px}
.sp_ico_profile_edit2{width:20px;height:20px;background-position:-25px -335px}
.sp_ico_profile_group{width:43px;height:43px;background-position:-124.5px -126px}
.sp_ico_profile_notice{width:42px;height:35px;background-position:0px -200.5px}
.sp_ico_recording_off{width:25px;height:28px;background-position:-310.5px 0px}
.sp_ico_recording_on{width:25px;height:28px;background-position:-310.5px -33px}
.sp_ico_reject{width:30.5px;height:30.5px;background-position:-273.5px -71px}
.sp_ico_resend{width:19.5px;height:19.5px;background-position:-116px -99px}
.sp_ico_reset{width:28px;height:28px;background-position:-33px -275px}
.sp_ico_save{width:16.5px;height:19px;background-position:-318px -308px}
.sp_ico_scrap_off{width:14.5px;height:14px;background-position:-253px -221px}
.sp_ico_scrap_on{width:14.5px;height:14px;background-position:-40px -360px}
.sp_ico_search{width:20px;height:20px;background-position:-50px -335px}
.sp_ico_search_clear{width:15px;height:15px;background-position:-327px -335px}
.sp_ico_search_filter{width:20px;height:20px;background-position:-75px -335px}
.sp_ico_search_g{width:20px;height:20px;background-position:-100px -335px}
.sp_ico_search_s{width:15px;height:15px;background-position:0px -360px}
.sp_ico_sel_class{width:20px;height:18.5px;background-position:-237px -240.5px}
.sp_ico_send_off{width:20px;height:20px;background-position:-125px -335px}
.sp_ico_send_on{width:20px;height:20px;background-position:-150px -335px}
.sp_ico_setting_b{width:20px;height:20px;background-position:-175px -335px}
.sp_ico_setting_g{width:15px;height:15px;background-position:-20px -360px}
.sp_ico_sound_off{width:18px;height:28.5px;background-position:-310.5px -121.5px}
.sp_ico_sound_on{width:18px;height:28.5px;background-position:-310.5px -155px}
.sp_ico_speaker_off{width:28px;height:23px;background-position:-273.5px -211px}
.sp_ico_speaker_on{width:28px;height:23px;background-position:-140px -240.5px}
.sp_ico_stamp_off{width:18px;height:18px;background-position:-365.5px -283.5px}
.sp_ico_sub_checklist_off{width:24.5px;height:22px;background-position:-310.5px -94.5px}
.sp_ico_sub_checklist_on{width:23.5px;height:22px;background-position:-310.5px -188.5px}
.sp_ico_sub_member_off{width:22px;height:22.5px;background-position:-310.5px -243px}
.sp_ico_sub_member_on{width:22px;height:22px;background-position:-310.5px -270.5px}
.sp_ico_sub_schedule_off{width:22px;height:22px;background-position:-161.5px -275px}
.sp_ico_sub_schedule_on{width:22px;height:22px;background-position:-188.5px -275px}
.sp_ico_sub_setting_off{width:22px;height:22px;background-position:-215.5px -275px}
.sp_ico_sub_setting_on{width:22px;height:22px;background-position:-242.5px -275px}
.sp_ico_tab_class_off{width:22px;height:22px;background-position:-269.5px -275px}
.sp_ico_tab_class_on{width:22px;height:22px;background-position:0px -308px}
.sp_ico_tab_main_off{width:22px;height:22px;background-position:-27px -308px}
.sp_ico_tab_main_on{width:22px;height:22px;background-position:-54px -308px}
.sp_ico_tab_more_off{width:22px;height:22px;background-position:-81px -308px}
.sp_ico_tab_more_on{width:22px;height:22px;background-position:-108px -308px}
.sp_ico_tab_schedule_off{width:22px;height:22px;background-position:-135px -308px}
.sp_ico_tab_schedule_on{width:22px;height:22px;background-position:-162px -308px}
.sp_ico_tab_talk_off{width:22px;height:22px;background-position:-189px -308px}
.sp_ico_tab_talk_on{width:22px;height:22px;background-position:-216px -308px}
.sp_ico_talk{width:18px;height:18px;background-position:-365.5px -306.5px}
.sp_ico_talk_clip{width:19px;height:20px;background-position:-365.5px 0px}
.sp_ico_talk_sm{width:18px;height:18px;background-position:-365.5px -329.5px}
.sp_ico_txt_more{width:6px;height:11px;background-position:-389.5px 0px}
.sp_ico_up_default{width:11px;height:6px;background-position:-267.5px -360px}
.sp_ico_up_g{width:10.5px;height:6px;background-position:-299px -360px}
.sp_ico_video{width:35px;height:35px;background-position:-173px -200.5px}
.sp_ico_zip{width:35px;height:35px;background-position:-213px -200.5px}
.sp_login_before_bg1{width:61px;height:121px;background-position:0px 0px}
.sp_login_before_bg2{width:53.5px;height:89.5px;background-position:-215px 0px}